.specialoffer {
  width: 532px;
  height: 707px;

  margin-left: 185px;

  .specialoffer-text {
    width: 165px;
    font-size: 30px;
    font-family: Proxima;
    border-bottom: rgba($color: #000000, $alpha: 1) solid 2px;
    margin: 60px 0px 36px 0px;
  }
  .top-section {
    width: 100%;
    height: 287px;
    // background-color: saddlebrown;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    .top-picture {
      width: 199px;
      height: 287px;
      background-image: url(../images/special-offer-01.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .top-text {
      margin-left: 20px;
      .text-spain {
        width: 240px;
        font-size: 30px;
        font-family: Proxima;
        border-bottom: rgba($color: #000000, $alpha: 1) solid 2px;

        span {
          color: #ff7d38;

          font-size: 20px;
        }
      }
      .context-spain {
        width: 240px;
        height: 128px;
        margin: 10px 10px 50px 0px;
      }
      .learn-more {
        width: 133px;
        height: 40px;
        background-color: #79addc;
        border-radius: 20px;
        padding: 10px 15px 10px 15px;

        .learn-more-text {
          color: #ffffff;
          font-family: gill;
        }
      }
    }
  }
}
.bottom-section {
  width: 100%;
  height: 287px;
  // background-color: saddlebrown;
  display: flex;
  justify-content: flex-start;
  .bottom-picture {
    width: 199px;
    height: 287px;
    background-image: url(../images/special-offer-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .bottom-text {
    margin-left: 20px;
    .text-thailand {
      width: 255px;
      font-size: 30px;
      font-family: Proxima;
      border-bottom: rgba($color: #000000, $alpha: 1) solid 2px;

      span {
        color: #ff7d38;

        font-size: 20px;
      }
    }
    .context-thailand {
      width: 240px;
      height: 128px;
      margin: 10px 10px 50px 0px;
    }
    .learn-more {
      width: 133px;
      height: 40px;
      background-color: #79addc;
      border-radius: 20px;
      padding: 10px 15px 10px 15px;

      .learn-more-text {
        color: #ffffff;
        font-family: gill;
      }
    }
  }
}
